body {background-color:  rgb(139, 49, 139);}

h1 {
  color: white;
  font-family: verdana;
  font-size: 350%;
  text-align:center;
  
  padding: 10px;
}
h2 {
    color: white;
    font-family: courier;
    font-size: 120%;
    text-align:center;
    padding: 5px;
    
}
